body {
	font-family: 'Roboto', sans-serif;
	background-color: #2D9A86;
}
.navbar {
	background-color: dimgray;
	margin-left: -15px;
	margin-right: -15px;

}

#about_image {
	border-radius: 100%;
	height: 200px; 
	width: 200px;
}

#project_title {
	color: black;
}

#projects_body {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

#footer {
	padding: 30px;
	text-align: center;
}
.navbar-nav > li > a.active,
.navbar-nav > li > a:hover {
	background-color: #2D9A86;
}